<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RESULT</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet"> 
        <style>
            .jumbotron {
                background-color: white;
                margin-top: 60px;
            }
            body {
                background-color: rgb(0,0,0,0.9);
                overflow-x: hidden;
                font-family: 'Nunito Sans', sans-serif !important;
            }
            h2 {
                font-family: 'Nunito Sans', sans-serif !important;
            }
        </style>
    </head>

    <body align=center>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4"><legend><h2>Error</h2></legend></div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4"><legend>{{error}}</legend></div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        
        
    </body>
</html>