<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Calculator</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body align=center>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4"><legend><h1>Network Administer</h1></legend></div>
			<div class="col-md-4"></div>
		</div>
			<br>
			<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<form class="form-horizontal" action={{ url_for('result') }}  method="post">
					<div class="form-group">
						<label class="control-label col-xs-3" for="var_1">Enter IP of VM</label>
						<div class="col-xs-7">
							<input type="integer" class="form-control" name="VM" placeholder="&nbsp;0&nbsp;">
						</div>
					</div>
					<div class = "form-group">
						<label class="control-label col-xs-3" for="var_1">Select Protocol</label>
						<div class="col-xs-7">		
						<input type="checkbox" name="TCP" value="matchwithpairs" checked> TCP
						<input type="checkbox" name="UDP" value="matchwithpairs" checked> UDP
						<input type="checkbox" name="ICMP" value="matchwithpairs" checked> ICMP
						<input type="checkbox" name="ALL" value="matchwithpairs" checked> ALL
						</div>
					</div>
					<div class="form-group">
            			<div class="col-xs-offset-3 col-xs-9">
                			<input type="submit" class="btn btn-success" value="Calculate">
                			<input type="reset" class="btn btn-danger" value="Reset">
            			</div>
        			</div>
        		</form>
        	</div>
        	<div class="col-md-4"></div></div>
		</div>
	</body>
</html>